@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-serif: "Merriweather", "serif";

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-white-base: #f9f3ed;
  --color-black-base: #191919;
  --color-grey-base: #808080;

  --color-black-light: #333333;
  --color-black-dark: #222222;

  /* Box Shadows */
  --shadow-link: inset 0 -0.05em 0 #000;
  --shadow-link-white: inset 0 -0.05em 0 #fff;
}

@layer utilities {
  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-right {
    animation: scroll-right 55s linear infinite;
    direction: rtl;
  }

  .animate-scroll-left {
    animation: scroll-left 55s linear infinite;
  }

  .group:hover .animate-scroll-left,
  .group:hover .animate-scroll-right {
    animation-play-state: paused;
    transition: transform 2s ease-out;
  }
}
